.navbar
{
	margin: 0px;
}
.nav1
{
	padding-top: 5px;
}
.white
{
	color: white !important;
}
.btn-caret
{
	padding: 7px 25px;
	border-radius: 30px;
	background: #d13434 !important;
	color: white;
}
.nav li
{
	padding: 0px 20px !important;
}
.nav li a
{
	color: white !important;
}
.bg-caret
{
	background: #d13434 !important;	
}
.btn-black
{
	background: black !important;
	color: white !important;
	padding: 5px 15px !important;
	margin-top: 10px;
}
.Home
{
	background: url('https://wallpaperaccess.com/full/212648.jpg');
	background-size: 100% auto;
	background-position: center;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}
.btn-outline
{
	background: transparent;
	border: 1px solid white;
	font-size: 16px;
}
.btn-outline:hover
{
	color: black;
	background: white;
}
.img-responsive
{
	width: 100%;
}
.Service
{
	padding-top: 100px;
	padding-bottom: 100px;
}
.pad0
{
	margin-top: 15px;
}
.con
{
	padding-top: 40px;
}
.right
{
	text-align: right;
}
.About
{
	background: url('https://i.pinimg.com/originals/ec/11/7a/ec117a2614aad453a8b8f1a7d00cb7ce.jpg');
	background-size: 100% auto;
	background-position: center;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}
.Contact
{
	padding-top: 30px;
	padding-bottom: 30px;
}
.Contact h1
{
	margin-top: 10px;
}
.badge
{
	position: absolute !important;
	top: -10px !important;
}